<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>

    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Angular Calculator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="main">
        <div class="container">
            <div class="col-md-5 offset-3 mt-5">
                <div class="card bg-dark text-white" ng-app="CalculatorApp" ng-controller="CalculatorController">
                    <div class="card-header">
                        <h2>Calculator</h2>
                    </div>
                    <div class="card-body">
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter Your First Number" ng-model="a"><br>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter Your Second Number" ng-model="b"><br>
                        <h5>Select Your Operation</h5>
                        <select name="" id="" class="form-control" ng-model="operator">
                            <option>+</option>
                            <option>*</option>
                            <option>-</option>
                            <option>/</option>
                        </select><br>
                      <div class="card-footer">
                          <h3>Result  :  {{result()}}s</h3>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div ng-app="CalculatorApp" ng-controller="CalculatorController">
        <p><input type="number" ng-model="a"></p>
        <p><input type="number" ng-model="b"></p>
        <p><select ng-model="operator">
                <option>+</option>
                <option>*</option>
                <option>-</option>
                <option>/</option>
            </select></p>
        <p>{{ result() }}</p>
    </div> -->





    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="angular.min.js"></script>
    <script src="calculator.js"></script>
</body>

</html>